<!doctype html>
<html ng-app="kanban">
<head>
<script src="jquery.js"></script>
<script src="angular.js"></script>
<script src="underscore.js"></script>

<script type="text/ng-template" id="tmpl/task.html">
	<div class="taskID">#{{task.data.id}}</div>
	<span ng-show="task.data.estimated&&task.data.estimated!=0" class="estimated">{{task.data.estimated}}d</span>
	<div style="clear: both"></div>
	<div class="summary">{{task.data.summary}}</div>
	<table class="timeTable"><tr> 
		<td><span ng-show="task.data.scheduledStartDate && !task.data.startDate" class="scheduledTo">{{task.data.scheduledStartDate.dateShortStr}}<span class="em" ng-style="task.data.getScheduledDateColor()"><span class="shrink70">scheduled</span></span></span></td>
		<td><span ng-show="task.data.startDate" class="scheduledTo">{{task.data.startDate.dateShortStr}}<span class="em" ng-style="task.data.getStartedDateColor()">started</span></span></td>
		<td><span ng-show="task.data.dueDate && !task.data.endDate" class="dueDate">{{task.data.dueDate.dateShortStr}}<span class="em" ng-style="task.data.getDueDateColor()">due</span></span></td>
		<td><div class<span ng-show="task.data.endDate" class="endDate">{{task.data.endDate.dateShortStr}}<span class="em" ng-style="task.data.getCompletedDateColor()">done</span></span></td>
	</tr></table>
</script>
<script type="text/ng-template" id="tmpl/column.html">
	<div class="td">
		<div ng-repeat="task in taskList | filter:testTask" class="task">
			<span ng-include="'tmpl/task.html'"></span>
		</div>
	</div>
</script>
<script type="text/ng-template" id="tmpl/lane.html">
	<div class="tr" task-list="taskList">
		<div class="th">
			{{category}}
		</div>
		<column status="todo" task-list="taskList" category="category"></column>
		<column status="inprogress" task-list="taskList" category="category"></column>
		<column status="done" task-list="taskList" category="category"></column>
	</div>
</script>

<script src="kanbanLogic.js"></script>
<link rel="stylesheet" type="text/css" href="kanbanTable.css" />
<meta http-equiv="Content-Type" content="text/html; charset=windows-1255">
<title>Kanban Board</title>
</head>
<body>
<div class="horizontal-div"><img src="logo-ext.png" id="logo"> <div id="self-link"> | <a href="http://localhost:9999/Kanban.html">http://localhost:9999/Kanban.html</a></div></div>
<div id="kanbanTable" ng-controller="TaskListController">
	<div class="tr">
		<div class="th">
		</div>
		<div class="th">
			To Do
		</div>
		<div class="th">
			In Progress
		</div>
		<div class="th">
			Done
		</div>
	</div>
	<lane ng-repeat="category in categories" category="category"></lane>
</div>
</body>
</html>